#InboxPage{
  display: flex;
  flex-direction: column;
  height:100%;
  width:100%;
}

.TopBar{
  flex-basis: 30px;
  background-color: green;
  text-align: right;
  padding-top: 10px;
}

.Logout{
  margin-right: 5px;
  color: green;
  padding: 5px;
  text-decoration: none;
  border: 1px solid green;
  background-color: white;
}

.Rest{
  display: flex;
  height:100%;
  width:100%;
}

.Menu{
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid green;
  margin-right: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.Inbox{
  flex-basis: 80%;
  overflow: auto;
}

.SidebarButton{
  background-color: green;
  border: 1px white solid;
  color:#fff;
  height:50px;
}

.EmailDiv{

}

.Link{
  text-decoration: none;
}

.EmailButton{
  display: flex;
  flex-direction: row;
  color:black;
  height:40px;
  background-color: white;
  border: 1px white solid;
  width:100%;
  border-bottom: black 1px solid;

}

.EmailSender{
  text-align: left;
  flex-basis: 20%;
}

.EmailTitle{
  text-align: left;
  flex-basis: 70%;
}

.EmailDate{

  flex-basis: 10%;
}
